ion-segment {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 25px 0 0;
    border-radius: 16px;
}
ion-segment ion-segment-button {
    padding: 10px 0;
    margin: 10px auto;
    max-width: 92px;
}
ion-segment ion-segment-button ion-label {
    padding: 10px;
}
ion-segment-button::part(indicator-background) {
    background: #E76B3F;
    border-radius: 16px;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
    color: var(--ion-text);
}

.segment-button-checked.md::part(native) {
    color: #fff;
    background: #E76B3F;
    border-radius: 8px;
}

ion-segment-button.md::part(indicator-background) {
    height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
    color: #E76B3F;
}

.segment-button-checked.ios::part(native) {
    color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
    border-radius: 20px;
}
