<ion-content class="ion-padding">
  <ion-modal [isOpen]="modalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title [textContent]="settingId"></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Затвори</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" [ngSwitch]="settingId">
        <app-profile-setting-content *ngSwitchCase="'Profile'"></app-profile-setting-content>
        <app-goals-setting-component *ngSwitchCase="'Goals'"></app-goals-setting-component>
        <app-appearance-setting-component *ngSwitchCase="'Appearance'"></app-appearance-setting-component>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
