<div class="button_container flex_center" (click)="openEditSettingModal()">
  <div>
    <div class="icon_container" [ngSwitch]="settingName">
      <ion-icon name="person-outline" *ngSwitchCase="'Profile'"></ion-icon>
      <ion-icon name="trophy-outline" *ngSwitchCase="'Goals'"></ion-icon>
      <ion-icon name="brush-outline" *ngSwitchCase="'Appearance'"></ion-icon>
      <ion-icon name="refresh-outline" *ngSwitchCase="'Logout'"></ion-icon>
    </div>
    <div class="name_container" [ngSwitch]="settingName">
      <h4 *ngSwitchCase="'Profile'">Профил</h4>
      <h4 *ngSwitchCase="'Goals'">Цели</h4>
      <h4 *ngSwitchCase="'Appearance'">Външен вид</h4>
      <h4 *ngSwitchCase="'Logout'">Изход</h4>
    </div>
  </div>
</div>
