<div class="nutrient_container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="6" *ngIf="nutrientName !== 'calories' && nutrientName !== 'weight'">
        <div class="icon_container {{nutrientName}}">
          <ion-icon src="/assets/icon/protein.svg" *ngIf="nutrientName === 'protein'"></ion-icon>
          <ion-icon src="/assets/icon/carbs.svg" *ngIf="nutrientName === 'carbs'"></ion-icon>
          <ion-icon src="/assets/icon/fat.svg" *ngIf="nutrientName === 'fats'"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6" *ngIf="nutrientName === 'calories'">
        <div class="icon_container {{nutrientName}}">
          <ion-icon src="/assets/icon/weight.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4" *ngIf="nutrientName === 'weight'">
        <div class="icon_container {{nutrientName}}">
          <ion-icon src="/assets/icon/weight.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col *ngIf="nutrientName !== 'calories'">
        <div *ngIf="nutrientName !== 'weight'">
          <p class="stacked_label">{{nutrientName.charAt(0).toUpperCase() + nutrientName.slice(1)}}</p>
          <p
            class="picker_button flex_center"
            (click)="openPicker()"
            *ngIf="(nutrientName !== 'calories' && nutrientName !== 'weight') && value !== undefined">
            {{value.toFixed()}}g
            <ion-icon name="chevron-down-outline"></ion-icon>
          </p>
        </div>
        <ion-item *ngIf="nutrientName === 'weight'" class="weight_item">
          <ion-label position="floating">Tегло</ion-label>
          <ion-input
            [(ngModel)]="value"
            (ionChange)="onChangeValueEvent($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="nutrientName === 'calories'" size="6" class="calories_text">
        <p class="stacked_label">Калории</p>
        <p *ngIf="nutrientName === 'calories'">{{value.toFixed()}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
