ion-col:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutrient_container {
  max-width: 312px;
  display: block;
  margin: auto;
}

.icon_container {
  padding: 13px 15px;
  width: max-content;
  border-radius: 50%;
}

.icon_container ion-icon {
  font-size: 22px;
}

.stacked_label {
  color: gray;
  margin: 10px 0 3px;
}

p {
  margin: 0;
  padding: 0;
}

.protein {
  -webkit-box-shadow: 0px 0px 10px 7px #D2ECFD;
  -moz-box-shadow: 0px 0px 10px 7px #D2ECFD;
  box-shadow: 0px 0px 10px 7px #D2ECFD;
}

.carbs {
  -webkit-box-shadow: 0px 0px 10px 7px #e7dcf2;
  -moz-box-shadow: 0px 0px 10px 7px #e7dcf2;
  box-shadow: 0px 0px 10px 7px #e7dcf2;
}

.fats {
  -webkit-box-shadow: 0px 0px 10px 7px #FDF2D4;
  -moz-box-shadow: 0px 0px 10px 7px #FDF2D4;
  box-shadow: 0px 0px 10px 7px #FDF2D4;
}

.weight {
  -webkit-box-shadow: 0px 0px 10px 7px #EAF2DE;
  -moz-box-shadow: 0px 0px 10px 7px #EAF2DE;
  box-shadow: 0px 0px 10px 7px #EAF2DE;
}

.calories {
  -webkit-box-shadow: 0px 0px 10px 7px #FFC7C7;
  -moz-box-shadow: 0px 0px 10px 7px #FFC7C7;
  box-shadow: 0px 0px 10px 7px #FFC7C7;
}

.picker_button {
  background: #CFCFCF;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
}
.calories_text {
  text-align: left;
}
.weight_item {
  --background: transparent;
}

@media only screen and (max-width: 576px) {
  .nutrient_container {
    text-align: center;
  }
}
