<app-home-header></app-home-header>
<div class="workout_overlay flex_center" *ngIf="overlayImage" (click)="closeOverlay()">
  <div class="content ion-text-center">
    <img [src]="overlayImage" alt="Workout">
    <ion-button (click)="onSaveImage()">Запази</ion-button>
  </div>
</div>
<ion-content>
    <div class="container">
        <app-workout-group
        [groupName]="'Цяло тяло'"
        [images]="['full_body_1.png', 'full_body_cardio_2.png', 'full_body_hell.png']"
        [slideOptions]="slideOpts"
        (workoutSelected)="onDisplayOverlay($event)"></app-workout-group>
        <app-workout-group
        [groupName]="'Корем'"
        [images]="['abs.png', 'abs_killer.png', 'home_abs.png']"
        [slideOptions]="slideOpts"
        (workoutSelected)="onDisplayOverlay($event)"></app-workout-group>
        <app-workout-group
        [groupName]="'Ръце'"
        [images]="['arm_routine.png', 'biceps_triceps.png', 'triceps.png']"
        [slideOptions]="slideOpts"
        (workoutSelected)="onDisplayOverlay($event)"></app-workout-group>
        <app-workout-group
        [groupName]="'Гръб'"
        [images]="['back.png', 'upper_back.png']"
        [slideOptions]="slideOpts"
        (workoutSelected)="onDisplayOverlay($event)"></app-workout-group>
        <app-workout-group
        [groupName]="'Крака'"
        [images]="['leg_burner.png', 'leg_routine.png']"
        [slideOptions]="slideOpts"
        (workoutSelected)="onDisplayOverlay($event)"></app-workout-group>
    </div>
</ion-content>
