<app-meal-history-header [day]="day" (dayChanged)="onDateChanged($event)"></app-meal-history-header>
<ion-content class="ion-padding">
  <ion-modal [isOpen]="selectingDay">
    <ng-template>
      <ion-datetime
        [firstDayOfWeek]="1"
        (ionChange)="onDateSelected($event)"></ion-datetime>
    </ng-template>
  </ion-modal>
  <div [ngClass]="{'fs': fetching}" class="flex_center">
    <ion-spinner name="lines-sharp" *ngIf="fetching"></ion-spinner>
  </div>
  <ion-card class="overview_card" *ngIf="!fetching">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle>Консумирана храна</ion-card-subtitle>
            <ion-card-title>Общ преглед</ion-card-title>
          </ion-col>
          <ion-col class="flex_horizontal ion-text-end">
            <ion-button fill="clear" (click)="addFood()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="data_overview">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>{{totalCalories.toFixed()}} KCAL</p>
            </ion-col>
            <ion-col>
              <p>{{macrosOverview.protein.toFixed()}} Protein</p>
            </ion-col>
            <ion-col>
              <p>{{macrosOverview.carbs.toFixed()}} Carbs</p>
            </ion-col>
            <ion-col>
              <p>{{macrosOverview.fats.toFixed()}} Fats</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-header>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header" color="blue_gradient">
          <ion-label>Храни</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card-content>
            <app-history-food-list [meals]="meals"></app-history-food-list>
          </ion-card-content>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
  <app-favourites-card (addFood)="addFood($event)"></app-favourites-card>
</ion-content>
