.group_container {
  margin: 10px 0;
}
.group_container.margin_container {
  margin: 20px 0;
}
.group_title {
    display: inline-block;
    background: #9FCC58;
    border-radius: 8px;
    padding: 15px 20px;
    min-width: 136px;
    text-align: center;
}
.group_title.margin_title {
  margin: 20px 0 25px;
}
.group_title h2 {
    margin: 0;
    padding: 0;
    color: #fff;
}
img {
    max-width: 312px;
}
