.auth_container {
  width: 90%;
  max-width: 772px;
  min-height: 100vh;
  display: block;
  margin: 0 auto;
}
.auth_container .header {
  padding: 20px 0 0;
}
.auth_container .header img {
  max-width: 72px;
}
.auth_container .heading_text {
  margin-bottom: 30px;
}
.auth_container .heading_text h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}
.auth_container .heading_text h3 {
  font-size: 24px;
  color: #6e6d6d;
  margin: 0;
}
.auth_container .heading_text h1,
.auth_container .heading_text h3 {
  font-family: 'Candara', sans-serif;
  letter-spacing: 1px;
}
.auth_container .input_container {
  margin-bottom: 30px;
}
.auth_container ion-button[type="submit"] {
  --background: #E77D0B;
}
.auth_container ion-button.google_button {
  --background: #fff;
  --color: #000;
  border: 1px solid gray;
  border-radius: 4px;
}
.auth_container ion-button ion-icon {
  margin-right: 10px;
  color: #EA4335;
}
.auth_container ion-button[type="button"] {
  color: #6e6d6d;
}
.auth_container ion-button > span {
  color: #E77D0B;
  margin-left: 5px;
}
.auth_container .hl {
  margin: 15px auto;
  width: 99%;
  height: 1px;
  background: gray;
  display: block;
}
.privacy_policy a {
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .auth_container .heading_text {
    margin-bottom: 10px;
  }
  .auth_container .heading_text h1 {
    font-size: 30px;
  }
  .auth_container .heading_text h3 {
    font-size: 18px;
  }
}
