ion-card {
  margin: auto 0;
}
.graph_container {
    max-width: 512px;
    display: block;
    margin: 15px auto 20px;
}
button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%;
}
