<ion-segment [scrollable]="true"
  (ionChange)="onDaySelected()"
  [(ngModel)]="daySelected"
  mode="md">
  <ion-segment-button value="0">
    <ion-label>Пон</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>Вто</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>Сря</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>Чет</ion-label>
  </ion-segment-button>
  <ion-segment-button value="4">
    <ion-label>Пет</ion-label>
  </ion-segment-button>
  <ion-segment-button value="5">
    <ion-label>Съб</ion-label>
  </ion-segment-button>
  <ion-segment-button value="6">
    <ion-label>Нед</ion-label>
  </ion-segment-button>
</ion-segment>
