<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Добави</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- Name -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="name_input">
          <ion-label position="fixed">Име</ion-label>
          <ion-input placeholder="Въведи име" [(ngModel)]="food.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="icon_container">
        <ion-button fill="clear" (click)="toggleFavourite()">
          <ion-icon name="heart-outline" *ngIf="!favourite"></ion-icon>
          <ion-icon name="heart" *ngIf="favourite"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img [src]="food.image" alt="Food Image" *ngIf="food.image">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="5" class="ion-text-end">
          <ion-button fill="clear" (click)="updateQuantity(false)">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-label position="fixed" slot="end">Количество</ion-label>
          <ion-input [value]="quantity" [disabled]="true"></ion-input>
        </ion-col>
        <ion-col size="5" class="ion-text-start">
          <ion-button fill="clear" (click)="updateQuantity(true)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <app-nutrient-button
          [nutrientName]="'protein'"
          [value]="food.macros.protein"
          (changeValue)="onMacrosChanged('protein', $event.value)"></app-nutrient-button>
      </ion-col>
      <ion-col size="4">
        <app-nutrient-button
          [nutrientName]="'carbs'"
          [value]="food.macros.carbs"
          (changeValue)="onMacrosChanged('carbs', $event.value)"></app-nutrient-button>
      </ion-col>
      <ion-col size="4">
        <app-nutrient-button
          [nutrientName]="'fats'"
          [value]="food.macros.fats"
          (changeValue)="onMacrosChanged('fats', $event.value)"></app-nutrient-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-nutrient-button
          [nutrientName]="'calories'"
          [value]="food.calories"></app-nutrient-button>
      </ion-col>
      <ion-col>
        <app-nutrient-button
          [nutrientName]="'weight'"
          [value]="food.weight"
          (changeValue)="onWeightChanged($event)"></app-nutrient-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
