.name_input {
  margin-bottom: 20px;
}

.quantity_input {
  margin-top: 20px;
  max-width: 40%;
  float: right;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 256px;
  border-radius: 16%;
}

.icon_container {
  text-align: right;
}

ion-icon {
  font-size: 28px;
}

@media screen and (max-width: 992px) {
  .quantity_input {
    max-width: 80%;
  }
}
