div {
    text-align: center;
    font-family: 'Candara';
}
::placeholder {
    font-family: 'Candara';
}
ion-spinner {
    margin: 10px 0;
}
ion-searchbar {
    padding: 9px 0 0 5px;
}
.favourites_button {
    height: 42px;
    width: 100%;
    max-width: 256px;
    margin-top: 9px;
    font-size: 22px;
    --background: #E76B3F;
}

@media only screen and (max-width: 576px) {
    .favourites_button {
        max-width: none;
    }
}
